@import "tailwindcss";

:root {
  --background: #cfcece;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0 auto;

}

.browse-button{
  background-color: #cfcece;
  color: rgb(28, 27, 27);
  
}

.browse-button:hover{
    background-color: #cfcece;
    color: rgb(28, 27, 27);
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}